@font-face {
    font-family: "Roboto Slab";
    src: url("fonts/RobotoSlab-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    src: url("fonts/Roboto-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Open Sans";
    src: url("fonts/OpenSans-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    --color-dark-gray: #3f4759;
    --color-white: #fff;
    --color-light-grey: #fbfbfd;
    --font-family-base: "Open Sans", sans-serif;
    --font-family-accent: "Roboto Slab", sans-serif;
    --font-famile-addition: "Roboto", sans-serif;

    --buttom-height: 39px;

    --container-width: 1140px;
    --container-padding-x: 15px;

    --transition-duration: 0.2s;
}

body {
    font-family: var(--font-family-base);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
}

a {
    transition-duration: var(--transition-duration);
}

.container {
    max-width: calc(var(--container-width) + var(--container-padding-x));
    margin-inline: auto;
    padding-inline: var(--container-padding-x);
}

h1 {
    font-size: 72px;
    font-family: var(--font-family-accent);
}
h2 {
    font-size: 48px;
    font-family: var(--font-family-accent);
}
h3 {
    font-size: 30px;
    font-family: var(--font-family-accent);
}
h5 {
    font-size: 20px;
    font-family: var(--font-famile-addition);
}

.banner {
    position: relative;
    background: url("images/banner-background.png") no-repeat center
        center/cover;
    color: var(--color-white);
    width: 100%;
    min-height: 110vh;
    justify-items: center;
}

.banner-body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--color-white);
    /* max-width: 1140px; */
    max-width: calc(var(--container-width) + var(--container-padding-x));
    margin-inline: auto;
    padding-inline: var(--container-padding-x);
}
.banner-logo {
    width: 190px;
    height: 200px;
    margin-block: 32px;
}

.banner-title {
    line-height: 1.1;
}

.banner-text {
    line-height: 1.2;
    margin-top: 20px;
}

.about-us-background {
    min-width: 100%;
    background-color: var(--color-light-grey);
    background-image: linear-gradient(white, var(--color-light-grey));
}

.about-us {
    position: relative;
    width: 100%;
    max-height: 500px;
    justify-items: center;
    max-width: calc(var(--container-width) + var(--container-padding-x));
    margin-inline: auto;
    padding-inline: var(--container-padding-x);
}
.about-us-title {
    margin-top: 20px;
}
.about-us-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.about-us-container-1 {
    max-width: 50%;
    padding: 20px;
}
.about-us-container-2 {
    max-width: 50%;
    padding: 20px;
}
.about-us-button {
    min-width: auto;
    padding: 10px 40px;
    min-height: 40px;
    background-color: var(--color-dark-gray);
    color: white;
    font-family: var(--font-family-base);
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
}
.expedition-leaders {
    position: relative;
    background: url("images/about-us-background.png") no-repeat center
        center/cover;
    color: var(--color-white);
    width: 100%;
    min-height: 100vh;
    justify-items: center;
}

.expedition-leaders-body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--color-white);
    max-width: calc(var(--container-width) + var(--container-padding-x));
    margin-inline: auto;
    padding-inline: var(--container-padding-x);
}
